
.node_one, .node_two, .node_three {
  position: absolute;
  z-index: 3;
}

.node_one {
  top: -150px;
  right: -150px;
}

.node_two {
  top: 90vh;
  left: -150px;
}

.node_three {
  top: 275vh;
  right: -150px;
}