#blog-content {
  min-height: 100vh;
  margin-top: 50px;
  margin-bottom: 100px;
  
  h1 {
    font-weight: 700;
  }

  h2 {
    margin-top: 45px;
  }

  h3 {
    margin-top: 30px;
    font-size: 1.5em;
  }

  li {
    padding-bottom: 5px;
  }

  .highlight {
    border-left: solid thick #0D2538;
    padding-left: 10px;;
  }

  img {
    border-radius: 12px;
  }
  
  .not-round {
    border-radius: 0px !important;
  }
}