
body {
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

// Accordion Style overrides
.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion-button {
  font-weight: 600;
}

button.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #212529;
  border-color: #212529;
}