.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  /* background-color: #215f4a; */
  /* color: #ffffff; */
}
