
.node_one, .node_two, .node_three, .node_four {
  position: absolute;
  z-index: 0;
}

.node_one {
  top: -150px;
  right: -150px;
  z-index: 2;
}

.node_two {
  top: 110vh;
  left: -150px;
}

.node_three {
  top: 375vh;
  right: -150px;
}

.node_four {
  top: 500vh;
  left: -150px;
}

@media (min-width: 768px) { 
  .node_two {
    top: 90vh;
  }

  .node_three {
    top: 275vh;
  }

  .node_four {
    top: 375vh;
  }
}